<!-- This is an ISOLATE DIRECTIVE -->
<div ng-repeat="friend in myfriends">
    <h3>
        <strong>{{ friend.name }}</strong>
    </h3>
    <p>Age: {{ friend.age }}</p>
    <p>Address:</p>
    <ul>
        <li>{{ friend.address.street }}</li>
        <li>{{ friend.address.city }}</li>
        <li>{{ friend.address.country }}</li>
    </ul>
    <button ng-show="!friend.employed" ng-click="employed(friend)">Fire from work!</button>
    <p ng-show="!!friend.employed">{{ friend.employed }}</p>
    <p>this is a {{ mytest }}</p>
    <br>
    <br>
</div>