<div class="panel panel-primary">
    <div class="panel-heading" ng-click="collapse()">
        {{ merde.name }}
    </div>
    <div class="panel-body" ng-hide="collapsed">
        <user-address></user-address>
        <h4>Friends</h4>
        <u>
            <li ng-click="cut()" ng-repeat="friend in merde.friends">{{ friend }}, {{ chof }}</li>
        </u><br>
        <div ng-show="!!merde.rank" class="">Rank: {{ merde.rank}}</div>
        <button ng-show="!merde.rank" ng-click="knightMe(user)" class="btn btn-success">Knight me</button>
    </div>
</div>